<!DOCTYPE html>
<html>
  <head>
    {% include 'head-title' %}
    {% include 'head-description' %}
    {% include 'head-open-graph' %}
    {{ content_for_header }}
    {{- 'bootstrap.min.css' | asset_url | stylesheet_tag -}}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
  {% comment %} Source code: https://github.com/gavinballard/defguide-theme {% endcomment %}
    {%- section 'header' -%}
    {{ content_for_layout }}
    {%- section 'footer' -%}
    {{- 'jquery-3.3.1.min.js' | asset_url | script_tag -}}
    {{- 'bootstrap.bundle.min.js' | asset_url | script_tag -}}
    {{- 'theme.js' | asset_url | script_tag -}}
  </body>
</html>
